* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
}
h1 {
  width: 100%;
  margin: 1rem 0;
  font-size: 1rem;
  color: darkslategrey;
}
h2 {
  width: 100%;
  margin: 0.5rem 0;
  font-size: 1rem;
  color: slategrey;
}
section {
  min-width: 500px;
  max-width: 1000px;
  margin-top: 0.5rem;
  border-top: 1px solid grey;
}
div {
  margin: 0;
}
span {
  margin: 0.5rem 1rem 1rem 0;
}
.fields {
  margin-bottom: 0.5rem;
}
.hidden {
  display: none;
}
.topicInfos {
  margin-top: 0.5rem;
  font-weight: bold;
  background-color: hsl(210, 13%, 85%);
}
#main {
  margin-left: auto;
  margin-right: auto;
}
#topicsList,
#viewTopic,
#topicTools {
  height: 45vh;
  overflow-y: scroll;
  padding-left: 0.5rem;
}
#topicsList Div {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  height: 1.25rem;
  white-space: nowrap;
  font-size: 0.9rem;
}
#topicsList div.submitDate {
  width: 100px;
  font-size: 0.75rem;
  padding-top: 0.1rem;
}
#topicsList div.nickname {
  width: 100px;
  margin-left: 0.5rem;
}
#topicsList div.subject {
  margin-left: 0.5rem;
  cursor: pointer;
}
#topicText {
  margin-left: 2rem;
  padding: 0.5rem;
  border-left: 2px solid hsl(210, 13%, 85%);
  background-color: hsl(0, 0%, 93%);
}
#repliesList li {
  margin: 0.15rem 0 0 4rem;
  padding: 0.5rem;
  border-left: 2px dashed lightgrey;
  background-color: hsl(185, 100%, 95%);
}
#repliesList li p {
  padding: 0 3rem;
  background-color: hsl(39, 100%, 95%);
}
