* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
}
h1 {
  width: 100%;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  color: darkslategrey;
}
h2 {
  width: 100%;
  margin: 1rem 0;
  font-size: 1rem;
  color: slategrey;
}
section {
  min-width: 360px;
  max-width: 1080px;
  margin-top: 1rem;
  border-top: 1px solid grey;
}
div {
  margin: 0;
}
span {
  margin: 1rem 1rem 1rem 0;
}
.bold {
  font-weight: bold;
}
.fields {
  margin-bottom: 1rem;
}
#topicsList {
  height: 46vh;
  overflow-y: scroll;
}
#topicInfos {
  font-weight: bold;
  background-color: hsl(210, 13%, 85%);
}
#topicText {
  margin-left: 2rem;
  padding: 0.5rem;
  border-left: 2px solid grey;
  background-color: hsl(0, 0%, 93%);
}
#repliesList li {
  margin: 0.15rem 0 0 4rem;
  padding: 0.5rem;
  border-left: 2px dashed lightgrey;
  background-color: hsl(185, 100%, 95%);
}
